---
layout: 'default'
---
%p.time.current
#customers
  %h3
    %span Allergan AG Schweiz
    %a{href: 'http://www.allergan.com'} www.allergan.com
  %div
    .info
      %p
        Drei Kommunikationsberatungsagenturen (Bantel &amp; Partner AG Zürich,
        pur pr Lausanne und einfachming Zürich) arbeiten gemeinsam daran, durch
        fundierte Medienarbeit die öffentliche Wahrnehmung des Wirkstoffs Botulinumtoxin
        (kurz Botox®) in der Schweiz zu schärfen und zu verbessern.
      %p
        Mandat: aktiv, seit März 2011
    .work
      %ul
        %li
          %p.time
            31.07.2013
          %h3
            BLICK AM ABEND
          %p
            DIE FABRIK DER GLATTEN GESICHTER
          %a{href: '/clippings/310713_Blick_am_Abend_Pringy_Filler_und_Botox_Switzerland.pdf'} Artikel lesen
        %li
          %p.time
            29.07.2013
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            DERMALFILLER STATT SKALPELL
          %a{href: '/clippings/290713_Schweizer_Illustrierte_Dermalfiller_Interview_Dr._Frey.pdf'} Artikel lesen
        %li
          %p.time
            13.06.2013
          %h3
            SCHWEIZER FAMILIE
          %p
            WAS TUN, WENN DER SCHWEISS TROPFT?
          %a{href: '/clippings/Schweizer_Familie_Hyperhidrose_SRF_Sendung_130613.pdf'} Artikel lesen
        %li
          %p.time
            10.06.2013
          %h3
            SCHWEIZER FERNSEHEN „PULS“
          %p
            ÜBERMÄSSIGES SCHWITZEN
          %a{href: 'http://www.srf.ch/sendungen/puls/schwitzen-darmschlauch-darmkrebsspezialist-promis-gegen-krebs'} Beitrag ansehen
          %br/
          %a{href: 'http://www.srf.ch/gesundheit/koerper/schweissnass-einfach-so'} Ratgeber lesen
          %br/
          %a{href: 'http://www.srf.ch/gesundheit/ratgeber/expertenrat/schweiss-ist-nicht-gleich-schweiss'} Artikel lesen
        %li
          %p.time
            09.06.2013
          %h3
            NZZ AM SONNTAG
          %p
            BOTOX - EIN WUNDERMITTEL
          %a{href: '/clippings/NZZamSonntag_Botox_ein_Wundermittel_090613.pdf'} Artikel lesen
        %li
          %p.time
            05.06.2013
          %h3
            SCHWEIZER FAMILIE
          %p
            SCHWEISS IM ÜBERFLUSS
          %a{href: '/clippings/050613_Schweizer_Familie_SRF_PULS_Sendung_Hyperhidrose.pdf'} Artikel lesen
        %li
          %p.time
            27.08.2012
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            SICHER JUNG UND SCHÖN WERDEN!
          %a{href: '/clippings/si_20120827_069.pdf'} Artikel lesen
        %li
          %p.time
            24.07.2012
          %h3
            SCHWEIZER FERNSEHEN, SENDUNG CLUB
          %p
            10 JAHRE BOTOX – SELBST SCHULD, WER FALTIG WIRD?
          %a{href: 'http://www.sendungen.sf.tv/club/Sendungen/Club/Archiv/Club-vom-24.07.2012'} Sendung ansehen
        %li
          %p.time
            02.07.2012
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            HYPERHIDROSE – ÜBERMÄSSIGES SCHWITZEN
          %a{href: '/clippings/Hyperhidrose_Dr._Kreyden_Schweizer_Illustrierte_020712.pdf'} Artikel lesen
        %li
          %p.time
            20.03.2012
          %h3
            RADIO 24
          %p
            Botox ohne Tierversuche
          %a{href: '/clippings/R24_Serie_Schönheit_Botox.mp3'} Radiobeitrag anhören
        %li
          %p.time
            22.8.2011
          %h3
            TELE ZÜRI, GESUNDHEITSMAGAZIN CHECK-UP
          %p
            Hyperhidrose
          %a{href: 'http://www.telezueri.ch/webtv/?&channel_id=106&video_id=216136'} Artikel lesen
  %h3
    %span ATHAYOGA
    %a{href: 'http://www.athayoga.ch/'} www.athayoga.ch
  %div
    .info
      %p
        Unterstützung und Beratung im Bereich Medienarbeit. Bekanntmachung des neuen Yoga-Studios in Zollikon, Themensetzung im Bereich Yoga.
      %p
        Mandat: aktiv, seit November 2013
    .work
      %ul
        %li
          %p.time
            18.12.2013
          %h3
            SEESICHT MAGAZIN
          %p
            YOGA MIT SEESICHT
          %a{href: '/clippings/Seesicht_Magazin_Augabe_6_2013_Dez_2013.pdf'} Artikel lesen
        %li
          %p.time
            11.12.2013
          %h3
            ANNABELLE – BEAUTY BLOG ONLINE
          %p
            SO STILISH FINDEST DU DEINE INNERE MITTE
          %a{href: 'http://thebeautyexperience.annabelle.ch/2013/12/11/bei-athayoga-in-zollikon-gibt-es-kleider-von-wellicious/'} Beitrag lesen
        %li
          %p.time
            02.12.2013
          %h3
            ZÜRICHSEEZEITUNG
          %p
            YOGA MIT BLICK AUF DEN SEE
          %a{href: '/clippings/athayoga_Zürichseezeitung_021213.pdf'} Artikel lesen
        %li
          %p.time
            29.11.2013
          %h3
            ATTIKA MAGAZIN ONLINE
          %p
            ATHAYOGA NEU AUCH IN ZOLLIKON
          %a{href: '/clippings/Attika_Magazin_Online_291113.pdf'} Artikel lesen
  %h3
    %span chrais10 AG
    %a{href: 'http://www.chrais10.ch'} www.chrais10.ch
  %div
    .info
      %p
        Produkt-PR für die Zürcher Naturkosmetik- Linie «chrais10».
      %p
        Mandat: aktiv, seit April 2011
    .work
      %ul
        %li
          %p.time
            18.06.2012
          %h3
            RADIO 1, TSCHUUTIPLATZ
          %a{href: '/clippings/Radio_1_18-06-2012_134033-134311_.mp3'} Radiobeitrag anhören
        %li
          %p.time
            08.05.2012
          %h3
            20 MINUTEN, TSCHUUTIPLATZ
          %a{href: '/clippings/20_Minuten_chrais10_Tschuutiplatz_080512.pdf'} Artikel lesen
        %li
          %p.time
            03.06.2012
          %h3
            SONNTAGSZEITUNG, TREND
          %a{href: '/clippings/Sonntagszeitung_Tschuutiplatz_030612.pdf'} Artikel lesen
        %li
          %p.time
            28.8.2011
          %h3
            NZZ AM SONNTAG, STILRADAR
          %a{href: '/clippings/NZZ_am_Sonntag_280811.pdf'} Artikel lesen
        %li
          %p.time
            21.6.2011
          %h3
            SCHWEIZER ILLUSTRIERTE, SI GRUEN
          %a{href: '/clippings/Schweizer_Illustrierte_Chrais_10_210611.pdf'} Artikel lesen
  %h3
    %span Clinique Matignon Zürich
    %a{href: 'http://www.cliniquematignon.ch'} www.cliniquematignon.ch
  %div
    .info
      %p
        Steigerung der Bekanntheit der Clinique Matignon Zürich durch entsprechende
        Medienarbeit.
      %p
        Mandat: aktiv, seit März 2011
    .work
      %ul
        %li
          %p.time
            14.6.2011
          %h3
            SCHWEIZER ILLUSTRIERTE, CHECK-UP
          %a{href: '/clippings/Schweizer_Illustrierte_Thermage_Clinique_Matignon_Zürich_140611.pdf'} Artikel lesen
  %h3
    %span Contra-Punkt Zürich
    %a{href: 'http://www.contra-punkt.ch'} www.contra-punkt.ch
  %div
    .info
      %p
        Steigerung der Bekanntheit des neuen Möbel- und Wohnaccessoires-Geschäfts
        im Zürcher Niederdorf.
      %p
        Mandat: beendet, Sept. 2010 - März 2011
    .work
      %ul
        %li
          %p.time
            21.12.2011
          %h3
            TAGBLATT DER STADT ZÜRICH
          %p
            PORTRAIT
          %a{href: '/clippings/Tagblatt_Stadt_Zürich_Sept_2010.pdf'} Artikel lesen
  %h3
    %span Float Zürich GmbH
    %a{href: 'http://www.float-schweiz.ch/'} www.float-schweiz.ch
  %div
    .info
      %p
        Medienarbeit / Story Placement zur weiteren Steigerung der Bekanntheit
        des Float-Centers an der Zürcher Röschibachstrasse.
      %p
        Kommunikation zum Thema Floaten (Entspannung, Medizin. Aspekte, Technologie,
        etc.).
      %p
        Mandat: aktiv, seit März 2011
    .work
      %ul
        %li
          %p.time
            30.10.2012
          %h3
            RADIO ZÜRISEE
          %p
            SCHWERELOS SCHWEBEN: FLOATING
          %a{href: '/clippings/Radio_Zürisee_floating_mit_verlosung_30102012.mp3'} Radiobeitrag anhören
        %li
          %p.time
            27.10.2012
          %h3
            GESUNDHEITSSPECIAL ZÜRCHER REGIONALZEITUNGEN
          %p
            MEDICAL FLOAT: SCHWERELOS GESUND WERDEN
          %a{href: '/clippings/special_gesundheit_zrz_artikel_float_271012.pdf'} Artikel lesen
        %li
          %p.time
            13.10.2012
          %h3
            NZZ Z-MAGAZIN
          %p
            SCHWEBEN AUF WASSER
          %a{href: '/clippings/NZZ_Z_magazin_Beitrag_floaten_13101.pdf'} Artikel lesen
        %li
          %p.time
            25.07.2012
          %h3
            RADIO ENERGY ZÜRICH
          %p
            ENTSPANNEN DURCH SCHWERELOSIGKEIT
          %a{href: '/clippings/Radio_Energy_250712_Floating2.mp3'} Radiobeitrag anhören
        %li
          %p.time
            Oktober 2011
          %h3
            TAGES-ANZEIGER
          %p
            EINFACH REINLIEGEN UND LOSLASSEN
          %a{href: '/clippings/Artikel_Tages-anzeiger_Nov._2011.pdf'} Artikel lesen
  %h3
    %span Hear the World
    %a{href: 'http://www.hear-the-world.com'} www.hear-the-world.com
  %div
    .info
      %p
        Umfassende Kommunikations- und Medienarbeitsleistungen für die Schweizer
        Hear the World Initiative und die gleichnamige Stiftung.
      %p
        Zielsetzung: Entstigmatisierung des Themas Hörverlust und Sensibilisierung
        der Öffentlichkeit für die Bedeutung des Hörsinns und für die von Hörverlust
        Betroffenen.
      %p
        Mandat: beendet, Sept. 2010 – Feb. 2013
    .work
      %ul
        %li
          %p.time
            06.12.2012
          %h3
            GLÜCKSPOST
          %p
            MONICA BELLUCCI – KAMPF GEGEN GEHÖRLOSIGKEIT
          %a{href: '/clippings/GPHP49_0612_Leute_Glueckspost__HtW_Kalender_2013_Dez_2012.pdf'} Artikel lesen
        %li
          %p.time
            30.11.2012
          %h3
            20 MINUTEN FRIDAY
          %p
            CHARITY
          %a{href: '/clippings/20_Minuten_Friday_HTW_Calendar_2013_301112.pdf'} Artikel lesen
        %li
          %p.time
            27.11.2012
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            STARKALENDER VON BRYAN ADAMS ZU GEWINNEN
          %a{href: 'http://www.schweizer-illustrierte.ch/stars/hear-the-world-kalender-2013-von-bryan-adams-verlosung-gewinnspiel'} Artikel lesen
        %li
          %p.time
            15.10.2012
          %h3
            PERSOENLICH.COM
          %p
            HEAR THE WORLD GOES SONOVA
          %a{href: 'http://www.persoenlich.com/news/show_news.cfm?newsid=104473#.UHz9ewZnGuw.facebook'} Artikel lesen
        %li
          %p.time
            06.09.2012
          %h3
            BOLERO MEN
          %p
            BRYAN ADAMS FÄNGT MONICA BELLUCCI
          %a{href: '/clippings/HtW_Monica_Bellucci_BoleroMen_060912.pdf'} Artikel lesen
        %li
          %p.time
            28.06.2012
          %h3
            GLÜCKSPOST
          %p
            WAS PASSIERT DA IM OHR?
          %a{href: '/clippings/HtW_Studie_Hören_Glückspost_Switzerland_280612.pdf'} Artikel lesen
        %li
          %p.time
            30.04.2012
          %h3
            TELE ZÜRI, GESUNDHEITSMAGAZIN CHECK-UP
          %p
            HÖRVERLUST BEI KINDERN
          %a{href: 'http://www.telezueri.ch/index.php?id=61304'} TV Beitrag ansehen
        %li
          %p.time
            24.04.2011
          %h3
            TAGBLATT ST. GALLEN
          %p
            WO DIE STADT AM LAUTESTEN IST
          %a{href: '/clippings/Switzerland_HtW_Wie_laut_ist_St_Gallen_St._Galler_Tagblatt_240412.pdf'} Artikel lesen
        %li
          %p.time
            8.12.2011
          %h3
            SCHWEIZER FAMILIE
          %p
            PATRICK NUO, BOTSCHAFTER VON HEAR THE WORLD
          %a{href: '/clippings/Switzerland_HtW_Patrick_Nuo_for_HtW_Schweizer_Familie_081211.pdf'} Artikel lesen
  %h3
    %span LDA AG
    %a{href: 'kundenkreis.html#'} Projekt Bilten/GL
  %div
    .info
      %p
        Kommunikationsberatung und Medienarbeit.
      %p
        Zielsetzung: Stärkung des öffentlichen Vertrauens in das Projekt der LDA
        AG in Bilten/GL (Werkneubau. Produkt: Ektraktion eines Antioxidanten aus
        Sibirischem Nadelholz, eingesetzt in der Nahrungsmittel- und Kosmetikindustrie).
      %p
        Mandat: aktiv, seit Dez. 2011
    .work
      %ul
        %li
          %p.time
            8.1.2012
          %h3
            SONNTAGSZEITUNG
          %a{href: '/clippings/Sonntagszeitung_080112_argus.pdf'} Artikel lesen
        %li
          %p.time
            13.1.2012
          %h3
            SCHWEIZER FERNSEHEN, SCHWEIZ:AKTUELL
          %a{href: 'http://www.videoportal.sf.tv/video?id=590d38e3-e6cd-408d-a056-9a4feeea581b'} Beitrag ansehen
  %h3
    %span Osec Business Network Switzerland
    %a{href: 'http://www.osec.ch'} www.osec.ch
  %div
    .info
      %p
        Leistungen im Bereich interne Kommunikation. Ghostwriting für den CEO.
      %p
        Mandat: on hold, seit Nov. 2010
    .work
  %h3
    %span Phonak Communications AG
    %a{href: 'http://www.phonak-communications.com'} www.phonak-communications.com
  %div
    .info
      %p
        Kommunikationsleistungen im Bereich Produkt-PR sowie Medienarbeit zum in Murten ansässigen Unternehmen.
      %p
        Mandat: aktiv, seit Nov. 2011
    .work
      %ul
        %li
          %p.time
            27.03.2012
          %h3
            DER MURTENBIETER
          %p
            20 Jahre Phonak Communications Murten
          %a{href: '/clippings/Phonak_Communications_20_Jahre_DER_MURTENBIETER_27.03.2012.pdf'} Artikel lesen
        %li
          %p.time
            15.02.2012
          %h3
            L’AGEFI
          %p
            INTERVIEW MIT DEM GESCHÄFTSFÜHRER
          %a{href: '/clippings/Phonak_Communications_20_Jahre_Agefi_Switzerland.pdf'} Artikel lesen
        %li
          %p.time
            01.03.2012
          %h3
            LE LAC
          %p
            BERICHT 20 JAHRE PHONAK COMMUNICATIONS
          %a{href: '/clippings/Phonak_Communications_20_Jahre_Le_Lac_010312.pdf'} Artikel lesen
  %h3
    %span Phonak Schweiz
    %a{href: 'http://www.phonak.ch'} www.phonak.ch
  %div
    .info
      %p
        Kommunikationsleistungen im Bereich Produkt-PR für Hörgeräte und Hörtechnologie
        sowie Medienarbeit zur Entstigmatisierung von Hörverlust.
      %p
        Mandat: beendet, Sept. 2010 – Dez. 2013 (inkl. Mandat von 2008-2010 beim früheren Arbeitgeber)
    .work
      %ul
        %li
          %p.time
            10.01.2014
          %h3
            TELE ZÜRI, LIFESTYLE
          %p
            ART FURRER
          %a{href: 'http://www.telezueri.ch/lifestyle/art-furrer#verpasst'} TV Beitrag ansehen
        %li
          %p.time
            20.11.2013
          %h3
            DEZIBEL
          %p
            ART FURRER SPRICHT ÜBER SEINEN HÖRVERLUST
          %a{href: '/clippings/dezibel-4-13_focus.pdf'} Artikel lesen
        %li
          %p.time
            21.10.2013
          %h3
            TELE ZÜRI, GESUNDHEITSMAGAZIN CHECK-UP
          %p
            TINNITUS UND HÖRVERLUST
          %a{href: 'http://www.telezueri.ch/checkup-das-gesundheitsmagazin'} TV Beitrag ansehen
        %li
          %p.time
            23.05.2011
          %h3
            SCHWEIZER ILLUSTRIERTE, CHECK-UP
          %p
            HÖRVERLUST BEI KINDERN
          %a{href: '/clippings/Switzerland_HtW_Hörverlust_bei_Kindern_Interview_mit_D_Feit_Schweizer_Illustrierte_230511.pdf'} Artikel lesen
  %h3
    %span
      %strong> PYTHON
      GALLERY
    %a{href: 'http://www.pythongallery.ch'} www.pythongallery.ch
  %div
    .info
      %p
        Unterstützung im Bereich Kommunikation und Medienarbeit. Bekanntmachung der Galerie/Galeristin sowie der jeweils aktuellen Ausstellung.
      %p
        Mandat: aktiv, seit Januar 2013
    .work
      %ul
        %li
          %p.time
            18.01.2014
          %h3
            ZÜRICHSEEZEITUNG
          %p
            DER UNGEWOHNTE BLICK ZUM BERG
          %a{href: '/clippings/ZürichseeZeitung_Mountain Breeze_180114.pdf'} Artikel lesen
        %li
          %p.time
            09.01.2014
          %h3
            KÜSNACHTER
          %p
            FRISCHER WIND AUS DEN BERGEN
          %a{href: 'http://www.seesichtmagazin.ch/agenda-event.php?&event_id=3498'} Artikel lesen
        %li
          %p.time
            08.01.2014
          %h3
            SEESICHT MAGAZIN ONLINE
          %p
            MOUNTAIN BREEZE
          %a{href: '/clippings/Küsnachter_MOUNTAIN_BREEZE_090114.pdf'} Artikel lesen
        %li
          %p.time
            05.12.2013
          %h3
            HANDELSZEITUNG
          %p
            SPIRITUELLE POESIE
          %a{href: '/clippings/Handelszeitung_PYTHONGALLERY_Stories_of_Transition_051213.pdf'} Artikel lesen
        %li
          %p.time
            25.11.2013
          %h3
            ZÜRICHSEEZEITUNG
          %p
            VOM WANDEL GEZEICHNET – AUSSTELLUNG STORIES OF TRANSITION
          %a{href: '/clippings/Ausstellungen_2511.pdf'} Artikel lesen
        %li
          %p.time
            14.09.2013
          %h3
            ZÜRICHSEEZEITUNG
          %p
            KUNST, DIE PROVOZIERT, LÖST MEHR AUS
          %a{href: '/clippings/ZürichseeZeitung_CHINA_140913.pdf'} Artikel lesen
        %li
          %p.time
            02.09.2013
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            TRÄUME EINER NATION
          %a{href: '/clippings/Schweizer_Illustrierte_DREAMS_OF_CHINA_020913.pdf'} Artikel lesen
        %li
          %p.time
            22.08.2013
          %h3
            KÜSNACHTER
          %p
            PYTHON GALLERY: CHINESISCHE KUNST ZUM EINJÄHRIGEN
          %a{href: '/clippings/Küsnachter_DREAMS_OF_CHINA_220813.pdf'} Artikel lesen
        %li
          %p.time
            19.06.2013
          %h3
            ZÜRICHSEE ZEITUNG
          %p
            ZÜRICH IN BILDERN UND GESCHICHTEN
          %a{href: '/clippings/ZürichseeZeitung_Hinweis_Lesung_190613.pdf'} Artikel lesen
        %li
          %p.time
            17.06.2013
          %h3
            Schweizer Illustrierte
          %p
            INTIME STADTLANDSCHAFTEN – PORTRAIT ‚MY ZURICH‘
          %a{href: '/clippings/it_Andrea_Muheim.pdf'} Artikel lesen
        %li
          %p.time
            05.05.2013
          %h3
            Radio 1
          %p
            PODIUMSGESPRÄCH BURNOUT
          %a{href: '/clippings/Radio1_beitrag_ausstellung_und_podium_BURNOUT_050513.mp3'} Beitrag anhören
        %li
          %p.time
            02.04.2013
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            EINZELSCHAU WOLFGANG STILLER
          %a{href: '/clippings/Schweizer_Illustrierte_BURNOUT_0204213.pdf'} Artikel lesen
        %li
          %p.time
            06.03.2013
          %h3
            KÜSNACHTER
          %p
            CHANCEN UND PROBLEME IN SCHUHKARTONS
          %a{href: '/clippings/Küsnachter_Podiumsgespräch_CITYSCAPES_060313.pdf'} Artikel lesen
        %li
          %p.time
            04.03.2013
          %h3
            ZÜRICHSEE-ZEITUNG
          %p
            EIN GANZ SCHÖNES BURNOUT
          %a{href: '/clippings/Zürichseezeitung_BURNOUT_040313.pdf'} Artikel lesen
        %li
          %p.time
            27.02.2013
          %h3
            KÜSNACHTER
          %p
            „BURNOUT“ VON WOLFGANG STILLER – UNVERBLÜMTER BLICK AUF DIE GESELLSCHAFT
          %a{href: '/clippings/Küsnachter_BURNOUT_270213.pdf'} Artikel lesen
  %h3
    %span Pro Juventute
    %a{href: 'http://www.projuventute.ch'} www.projuventute.ch
  %div
    .info
      %p
        Punktuelle Unterstützung im Bereich Kommunikation und Medienarbeit. Kommunikationsberatung.
        Story-Placement. Sparring-Partner. Begleitende Medienarbeit für die Kampagne
        „Prävention von Jugendsuizid“.
      %p
        Mandat: aktiv, seit Sept. 2010
    .work
      %ul
        %li
          %p.time
            14.12.2012
          %h3
            RADIO 24
          %p
            GUTSCHEIN ELTERN CLUB SCHWEIZ – IDEALES WEIHNACHTSGESCHENK
          %a{href: '/clippings/Radio_24_14-12-ElternClub_.mp3'} Beitrag hören
        %li
          %p.time
            19.09.2011
          %h3
            SF TAGESSCHAU, HAUPTAUSGABE
          %p
            PRO JUVENTUTE STARTET KAMPAGNE ZUR PRÄVENTION VON JUGENDSUIZID
          %a{href: 'http://www.tagesschau.sf.tv/Nachrichten/Archiv/2011/09/19/Schweiz/Pro-Juventute-startet-Kampagne-gegen-Suizid'} Beitrag ansehen
        %li
          %p.time
            22.09.2011
          %h3
            CLUB, SF SCHWEIZER FERNSEHEN
          %p
            WENN JUGENDLICHE NICHT MEHR LEBEN WOLLEN
          %a{href: 'http://www.sendungen.sf.tv/club/Sendungen/Club/Archiv/Club-vom-20.09.2011'} Sendung ansehen
  %h3
    %span SimmenGroup
    %a{href: 'http://www.simmengroup.ch'} www.simmengroup.ch
  %div
    .info
      %p
        Punktuelle Unterstützung im Bereich Story-Placement.
      %p
        Mandat: beendet, Mai - Juni 2011
    .work
      %ul
        %li
          %p.time
            6.6.2011
          %h3
            ECO – DAS WIRTSCHAFTSMAGAZIN SCHWEIZER FERNSEHEN
          %p
            PORTRAIT PATRIC SIMMEN
          %a{href: 'http://www.videoportal.sf.tv/video?id=2f990856-3ed3-4151-b66b-b495364c93a0'} Sendung ansehen
  %h3
    %span SOMEA LADEN GMBH
    %a{href: 'http://www.somea.ch'} www.somea.ch
  %div
    .info
      %p
        Pressearbeit für das Ladengeschäft im Zürcher Oberdorf und für die Produkte der Eigenmarke Isabelle Spa &amp; Home Collection.
      %p
        Mandat: beendet, März – August 2013
    .work
      %ul
        %li
          %p.time
            25.09.2013
          %h3
            ANNABELLE
          %p
            SAUBERE SACHE
          %a{href: '/clippings/Annabelle_Still_Open_somea_250913.pdf'} Artikel lesen
        %li
          %p.time
            01.07.2013
          %h3
            SCHWEIZER LANDLIEBE
          %p
            KREATIVE FAMILIENBANDE
          %a{href: '/clippings/Schweizer_Landliebe_Somea_010713.pdf'} Artikel lesen
        %li
          %p.time
            05.06.2013
          %h3
            TAGBLATT DER STADT ZÜRICH
          %p
            SEIFEN UND WOHNACCESSOIRES
          %a{href: '/clippings/Tagblatt_der_Stadt_Zürich_Somea_Hinweis_050613.pdf'} Artikel lesen
        %li
          %p.time
            21.05.2013
          %h3
            BLICK AM ABEND
          %p
            SCHELLE DES TAGES
          %a{href: '/clippings/BlickamAbend_Somea_210513.pdf'} Artikel lesen
  %h3
    %span Sonova Holding AG
    %a{href: 'http://www.sonova.com'} www.sonova.com
  %div
    .info
      %p
        Kommunikationsberatung und punktuelle Medienarbeit im Bereich Corporate Communications.
      %p
        Mandat: beendet, Nov. 2011 – Nov. 2013
    .work
      %ul
        %li
          %p.time
            03.06.2012
          %h3
            SONNTAGSZEITUNG
          %p
            INTERVIEW MIT LUKAS BRAUNSCHWEILER, CEO SONOVA
          %a{href: '/clippings/Sonntagszeitung_Interview_Lukas_Braunschweiler_030612.pdf'} Artikel lesen
  %h3
    %span Stoffwechselpraxis Zentralschweiz AG
    %a{href: 'http://www.dr-p.ch'} www.dr-p.ch
  %div
    .info
      %p
        Steigerung der Bekanntheit der Stoffwechselpraxis Zentralschweiz und von Dr. med. Natascha Potoczna, Praxisinhaberin und Belegärztin der Hirslanden Klinik St. Anna Luzern.
      %p
        Mandat: aktiv, seit März 2012
    .work
      %ul
        %li
          %p.time
            23.01.2014
          %h3
            GLÜCKSPOST
          %p
            Abnehmen? Bloss keine Diät!
          %a{href: '/clippings/Glückspost_Abnehmen_230114.pdf'} Artikel lesen
        %li
          %p.time
            10.03.2013
          %h3
            ZENTRALSCHWEIZ AM SONNTAG
          %p
            «Das mit dem ‹Entschlacken› ist ein Märchen»
          %a{href: '/clippings/Zentralschweiz_am_Sonntag_Fastenzeit_100313_Teil_2.pdf'} Artikel lesen
        %li
          %p.time
            18.02.2013
          %h3
            RADIO PILATUS
          %p
            Abnehmen nach der Fasnacht: Tipps von Stoffwechselexpertin Dr. Natascha Potoczna
          %a{href: '/clippings/Radio_Pilatus_stoffwechselanalyse_180213.mp3'} Beitrag hören
        %li
          %p.time
            04.06.2012
          %h3
            SCHWEIZER ILLUSTRIERTE, CHECK-UP
          %a{href: '/clippings/120604_Schweizer_Illustrierte_Check_up_Leserfrage.pdf'} Artikel lesen
  %h3
    %span Turquoise Istanbul GmbH
    %a{href: 'http://www.turquoise-istanbul.com'} www.turquoise-istanbul.com
  %div
    .info
      %p
        Produkt-PR zur Lancierung der hochwertigen, handgefertigten Hamam-Tücher aus 100% Bio-Baumwolle und Seide.
      %p
        Mandat: aktiv, seit August 2012
    .work
      %ul
        %li
          %p.time
            21.10.2013
          %h3
            SCHWEIZER ILLUSTRIERTE
          %p
            ONLINE TIPP
          %a{href: '/clippings/SI_Turquoise_Istanbul_211013.pdf', target: 'new'} Artikel lesen
        %li
          %p.time
            01.10.2013
          %h3
            SWISS MAGAZINE
          %p
            FEELING RIGHT: HANDWOVEN
          %a{href: '/clippings/SWISS_Magazine_Okt_2013.pdf', target: 'new'} Artikel lesen
        %li
          %p.time
            26.06.2013
          %h3
            ANNABELLE
          %p
            SOMMERQUIZ
          %a{href: '/clippings/annabelle_Sommerquiz_Turquoise_Istanbul_260613.pdf', target: 'new'} Artikel lesen
        %li
          %p.time
            19.06.2013
          %h3
            SI STYLE
          %p
            BADEMEISTER
          %a{href: '/clippings/SI_Style_TI_Sommerkollektion_190613.pdf', target: 'new'} Artikel lesen
        %li
          %p.time
            12.06.2013
          %h3
            BOLERO MAGAZIN
          %p
            TURKISH DELIGHT
          %a{href: 'http://www.boleromagazin.ch/hamam-tuecher', target: 'new'} Artikel lesen
        %li
          %p.time
            11.06.2013
          %h3
            20 MINUTEN
          %p
            MUST-HAVE: HAMAM TÜCHER
          %a{href: '/clippings/20_Minuten_TI_Sommerkollektion_110613.pdf'} Artikel lesen
        %li
          %p.time
            02.05.2013
          %h3
            SCHWEIZER FAMILIE
          %p
            KUSCHELIG WEICHE TÜCHER
          %a{href: '/clippings/Schweizer_Familie_Turquoise_Istanbul_Sommerkollektion_020513.pdf'} Artikel lesen
        %li
          %p.time
            08.04.2013
          %h3
            BLACKPAPER
          %p
            HAMAM-TÜCHER: DAS MUST-HAVE FÜR DIE BADI
          %a{href: 'http://www.blackpaper.ch/lifestyle/hamam-tucher-das-must-have-fur-die-badi/'} Artikel lesen
        %li
          %p.time
            05.04.2013
          %h3
            BLICK AM ABEND
          %p
            HAMAM
          %a{href: '/clippings/Blick_am_Abend_Sommerkollektion_TI_150413.pdf'} Artikel lesen
        %li
          %p.time
            25.03.2013
          %h3
            SI GRUEN
          %p
            STOFF AUS 1001 NACHT
          %a{href: '/clippings/SI_GRUEN_Towels_Turquoise_Istanbul_250313.pdf'} Artikel lesen
        %li
          %p.time
            06.01.2013
          %h3
            NZZ am Sonntag STIL
          %p
            LUXUS AUS DER TÜRKEI
          %a{href: '/clippings/NZZaS_Stil_TI_Handtücher_060113.pdf'} Artikel lesen
        %li
          %p.time
            05.12.2012
          %h3
            ECO LIFE
          %p
            HANDGEWOBEN
          %a{href: '/clippings/eco_life_TI_Pestemal_Selma_051212.pdf'} Artikel lesen
        %li
          %p.time
            01.12.2012
          %h3
            WOHNREVUE
          %a{href: '/clippings/Wohnrevue_TI_Decke_Emine_Dez._2012.pdf'} Artikel lesen
        %li
          %p.time
            12.11.2012
          %h3
            BRIGITTE SCHWEIZ
          %p
            VOM HAMAM INSPIRIERT
          %a{href: '/clippings/Brigitte_CH_Turquoise_Istanbul_121112.pdf'} Artikel lesen
        %li
          %p.time
            13.11.2012
          %h3
            20 MINUTEN
          %p
            DIE MAGIE DES BOSPORUS
          %a{href: '/clippings/20_Minuten_Turquoise_Istanbul_Lifestyle_131112.pdf'} Artikel lesen
        %li
          %p.time
            15.11.2012
          %h3
            %a{href: 'http://www.blaaablaaa.com/'} BLAAABLAAA.COM
          %p
            TURQUOISE ISTANBUL
          %a{href: 'http://www.blaaablaaa.com/2012/11/15/turquoise-istanbul/'} Artikel lesen
        %li
          %p.time
            27.08.2012
          %h3
            BLICK AM ABEND
          %a{href: '/clippings/Blick_am_Abend_Turquoise_Istanbul_270812.jpg'} Artikel lesen
  %h3
    %span VINIVERGANI
    %a{href: 'http://www.vergani.ch'} www.vergani.ch
  %div
    .info
      %p
        Kommunikation und Medienarbeit inkl. Erstellung einer Basis-Pressemappe. Story-Placement.
      %p
        Mandat: beendet, Juli – Okt. 2012
    .work
      %ul
        %li
          %p.time
            30.08.2012
          %h3
            ZÜRITIPP
          %p
            VERANSTALTUNGSHINWEIS GENUSSFESTIVAL VINO E PANE
          %a{href: '/clippings/Züritipp_300812_Vino_e_Pane_Beleg.pdf'} Artikel lesen
        %li
          %p.time
            03.09.2012
          %h3
            NZZ
          %p
            VERANSTALTUNGSHINWEIS GENUSSFESTIVAL VINO E PANE
          %a{href: '/clippings/NZZ_03092012_Vino_e_Pane_Beleg.pdf'} Artikel lesen
  %h3
    %span VortexPower® AG
    %a{href: 'http://www.vortexpower.ch'} www.vortexpower.ch
  %div
    .info
      %p
        Produkt-PR für den VortexPower®
        = succeed ',' do
          %i Spring
      %p
        Mandat: aktiv, seit Februar 2012
    .work
      %ul
        %li
          %p.time
            20.11.2013
          %h3
            TOP TALK, Tele TOP
          %p
            WASSER – DAS BLAUE GOLD, ZU GAST: MATTHIAS C. MEND
          %a{href: 'http://www.teletop.ch/programm/sendungen/top-talk/detail/art/trinkwasser-das-blaue-gold-001657413/'} Beitrag ansehen
        %li
          %p.time
            12.08.2013
          %h3
            INTERVIEW MAGAZIN
          %p
            UNSER LIEBLINGSGETRÄNK? LEITUNGSWASSER?
          %a{href: '/clippings/interview_Magazin_Lieblingsgetränk_Wasser_Aug_2013.pdf'} Artikel lesen
        %li
          %p.time
            30.03.2013
          %h3
            TAGES-ANZEIGER GESUND LEBEN
          %p
            VIEL BESSER ALS SEIN RUF: LEITUNGSWASSER
          %a{href: '/clippings/TAGESANZEIGER_GESUND_LEBEN_300313.pdf'} Artikel lesen
        %li
          %p.time
            01.11.2012
          %h3
            PUNKT MAGAZIN
          %p
            QUELLWASSER FÜR ZUHAUSE
          %a{href: '/clippings/PUNKT_Magazin_Dez_2012.pdf'} Artikel lesen
        %li
          %p.time
            01.11.2012
          %h3
            ACTIVE LIVE
          %p
            WASSER - UNSER WICHTIGSTES NAHRUNGSMITTEL
          %a{href: '/clippings/activeLive_Wasser_unser_wichtigstes_Nahrungsmittel_011112.pdf'} Artikel lesen
        %li
          %p.time
            27.10.2012
          %h3
            GESUNDHEITSSPECIAL ZÜRCHER REGIONALZEITUNGEN
          %p
            WASSER - UNSER WICHTIGSTES NAHRUNGSMITTEL
          %a{href: '/clippings/special_gesundheit_zrz_Beitrag_VortexPower_271012.pdf'} Artikel lesen
        %li
          %p.time
            JUNI 2012
          %h3
            ECO LIFE
          %p
            WIRBEL UM ZÜRCHER START-UP
          %a{href: '/clippings/ecoLife_VortexPower_M_Mend_Juni_2012.pdf'} Artikel lesen
