!!! 5
%head
  %title einfachMING . Büro für Kommunikation

  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'language', content: 'deutsch, de' }
  %meta{ name: 'robots', content: 'index,follow' }
  %meta{ name: 'revisit-after', content: '7 days' }
  %meta{ name: 'description', content: 'einfachMING . Büro für Kommunikation, Zürich' }
  %meta{ name: 'keywords', content: 'Public Relations,Kommunikation,Interne Kommunikation,Medienarbeit,Öffentlichkeitsarbeit,Kommunikationsberatung,Ghostwriting,Veranstaltung von Pressekonferenzen,Beratung und Kommunikation' }

  %link{ rel: 'stylesheet', type: 'text/css', href: '/einfachming/stylesheets/grid.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/einfachming/stylesheets/text.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/einfachming/stylesheets/einfachming.css' }

  %script{ src: 'http://use.typekit.com/lka2rnl.js' }
  :javascript
    try{
      Typekit.load();
    } catch(e) {}

%body
  #container
    %header
      %nav
        %ul
          %li
            %span> einfach
            ming
          %li
            %a{ href: '/' } facile
          %li
            %a{ href: '/' } ametue
          %li
            %a{ href: '/' } blog
          %li
            %a{ href: '/' } tumsandion
          %li
            %a{ href: '/' } kontakt

    #content
      %h1
        Sustis
        %span willkommen
        numexenit alit irit tumsandion meinis nu dolor Ipsum.

      .news
        %p.time 18. DEZEMBER 2011
        %h2 Lorem dolorem Ipsum est dolor
        %p
          Est dolor facile amenlor am Gait t ame tue henis nuIpsum. Est dolore facile amenlor Gait Conse lorem Ipsume
          Dolor quat, conse commy nullan est Lorem Ipsum amet el amen. Consequatm commy runullan et ametue henis nuIpsum.
          tame tue henis nuIpsum. Est do lore facile amenlor Gaitconse nullan elmestdo et ame tue henis nuIpsum.
          Est dolore facile amenlor Gait Cons lorem Ipsume Dolor quat, conse commy nullan est Lorem psum amet el amen.

      .news
        %p.time 16. DEZEMBER 2011
        %h2 Lorem dolorem Ipsum est dolor
        %p
          Est dolor facile amenlor am Gait t ame tue henis nuIpsum. Est dolore facile amenlor Gait Conse lorem Ipsume
          Dolor quat, conse commy nullan est Lorem Ipsum amet el amen. Consequatm commy runullan et ametue henis nuIpsum.
          tame tue henis nuIpsum. Est do lore facile amenlor Gaitconse nullan elmestdo et ame tue henis nuIpsum.
          Est dolore facile amenlor Gait Cons lorem Ipsume Dolor quat, conse commy nullan est Lorem psum amet el amen.

    #sidebar
      %a{ href: '/einfachming'}
        %img{ src: '/einfachming/images/lilie.png', width: '66', height: '66' }

      .news
        %p.time 14. DEZEMBER 2011
        %h3 Lorem dolorem Ipsum est dolor
        %p
          Est dolor facile amenlor Gaitonse lorem el Ipsume lorem Ipsume Dolor amet el amen. Dolor quat, conse commy.

      .news
        %p.time 13. DEZEMBER 2011
        %h3 Lorem dolorem Ipsum est dolor
        %p
          Est dolor facile amenlor Gaitonse lorem el Ipsume lorem Ipsume Dolor amet el amen. Dolor quat, conse commy.
