!!! 5
%head
  %title einfachMING . Büro für Kommunikation

  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'language', content: 'deutsch, de' }
  %meta{ name: 'robots', content: 'index,follow' }
  %meta{ name: 'revisit-after', content: '7 days' }
  %meta{ name: 'description', content: 'einfachMING . Büro für Kommunikation, Zürich' }
  %meta{ name: 'keywords', content: 'Public Relations,Kommunikation,Interne Kommunikation,Medienarbeit,Öffentlichkeitsarbeit,Kommunikationsberatung,Ghostwriting,Veranstaltung von Pressekonferenzen,Beratung und Kommunikation' }

  %link{ rel: 'stylesheet', type: 'text/css', href: '/einfachming/stylesheets/einfachming.css' }

  %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
  %script{ src: '/einfachming/javascripts/einfachming.js' }

  %noscript
    %meta{ 'http-equiv' => 'Refresh', content: '0; URL=/einfachming/home.html' }

%body
  #top
  #right
  #bottom
  #left

  #einfachming
    %a{ href: '/einfachming/home.html' }
      %img{ src: '/einfachming/images/einfachming.png', width: '180', height: '210' }

  #definition
    %sup> 7
    %span.italics> einfac
    hming: ein|fach; Amet, (lorem
    %span.mark ipsumelm
    ) est dolor facile [amet el dolor] Gait Comsequat, conse commy nullan et
    %span.mark ametue
    dip ea
    %span.mark blog
    ullam, sustis blog numexenit alit irit lob tumsandion meinis nu lorem dolor
    %span.mark Ipsum.
