/*
*= require_self
*/

@import "compass/reset";
@import "960/grid";
@import "960/text";

$ninesixty-columns: 24;

#container {
  @include grid-container;

  header {
    @include grid(24);
  }

  nav {
    @include grid(23);
    @include grid-prefix(1);
  }

  #content {
    @include grid(15);
    @include grid-prefix(1);
  }

  #sidebar {
    @include grid(7);
    @include grid-suffix(1);
  }
}

@include text;

body {
  margin: 0;
  padding: 0;
  background: white url(/images/background_lilie.png) repeat;
}

*:focus {
  outline: none;
}

#container {
  -moz-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.51);
  -o-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.51);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.51);
  background: #fff;
  overflow: auto;
  margin-top: 50px;

  header {
    margin-top: 45px;
    margin-bottom: 25px;

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: inline;
    }
  }
}

header ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}

#container header ul li {
  margin: 0;
  padding-left: 8px;
  padding-right: 1px;
  color: #9d8d85;
  font-family: Times New Roman, Times, serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  border-right: 1px solid #9d8d85;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }

  a {
    color: #9d8d85;
    text-decoration: none;

    &:hover {
      color: #D4B991;
    }
  }
  span {
    font-style: italic;
  }
}

#content {
  margin-bottom: 45px;
  position: relative;
  z-index: 10;
}

body > footer {
  margin: auto;
  margin-top: 15px;
  width: 940px;
}

#copy {
  float: left;
  color: #fff;
  font-family: Calibri, Arial, sans-serif;
  font-size: 10px;
}

#social {
  float: right;
  opacity: 1;

  a:hover {
    opacity: 1;
  }
}

#content {
  h1:first-child {
    margin-top: 50px;
    margin-bottom: 70px;
    color: #9d8d85;
    font-family: Times New Roman, Times, serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;

    span {
      color: #D4B991;
      font-style: italic;
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: bold;
    }
  }

  h2 {
    margin-top: 28px;
    margin-bottom: 5px;
    color: #9d8d85;
    font-family: Times New Roman, Times, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    letter-spacing: 1px;
  }

  p {
    &.time {
      margin-bottom: 0px;
      color: #9d8d85;
      font-family: Calibri, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
  }

  li {
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
    list-style-image: url('/images/bullet.png');
    margin-left: 15px;
  }
}

#sidebar {
  text-align: center;
  margin-bottom: 45px;

  img {
    margin-bottom: 40px;
  }

  .news {
    h3 {
      margin-bottom: 5px;
      color: #D4B991;
      font-family: Times New Roman, Times, serif;
      font-size: 16px;
      font-style: italic;
      line-height: 16px;
      letter-spacing: 1px;
    }

    p {
      color: #000;
      font-family: Calibri, Arial, sans-serif;
      font-size: 14px;

      &.time {
        margin-bottom: 0px;
        color: #9d8d85;
        font-family: Calibri, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    em {
      font-style: italic;
    }
  }
}

html, body {
  height: 100%;
}

#scene{
  position: relative;
  overflow: auto;
  top: 50%;
  height: 450px;
  width: 720px;
  margin: auto;
  margin-top: -225px;

  #einfachming {
    position: absolute;
    display: none;
    width: 180px;
    height: 210px;

    img {
      border: 0;
    }
  }

  #definition {
    position: absolute;
    display: none;
    min-width: 300px;
    max-width: 720px;
    color: #fff;
    font-family: Times New Roman, Times, serif;
    font-size: 26px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;
    line-height: 26px;

    em {
      font-style: italic;
    }

    p {
      margin: 0;

      &.intro a {
        font-style: italic;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

a {
  color: #D4B991;
  text-decoration: none;

  &:visited {
    color: #D4B991;
    text-decoration: none;
  }

  &:hover {
    color: #D4B991;
    text-decoration: none;
    text-decoration: underline;
  }
}

#customers {
  > {
    div {
      overflow: hidden;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      overflow: hidden;
      font-size: 14px;
      line-height: 14px;
      font-family: Calibri, Arial, sans-serif;

      span {
        float: left;
      }

      a {
        font-family: Times New Roman, Times, serif;
        font-style: italic;
        float: left;
        clear: left;
        cursor: pointer;
      }
    }
  }

  .info {
    width: 290px;
    float: left;
  }

  .work {
    width: 290px;
    float: left;

    ul {
      li {
        list-style-type: none;
        list-style-image: none;
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 0px;
        font-size: 14px;
      }
    }

    p {
      margin: 0;
    }
  }
}

#portraits.contact {
  margin-top: 80px;
}

#portraits {
  li {
    list-style-image: none;
    list-style-type: none;
    clear: left;
    margin-left: 0px;

    img {
      float: left;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }

  span {
    display: block;
    color: #9D8D85;
    font-family: Times New Roman, Times, serif;
    font-size: 16px;
    font-size: 16px;
    font-style: italic;
  }

  .profile {
    display: block;
  }
}

a.profile_return {
  font-family: Calibri, Arial, sans-serif;
}
