!!!
%html
  %head
    %title einfachMING . Büro für Kommunikation
    %meta{charset: 'utf-8'}/
    %meta{content: 'www.flinkfinger.com', name: 'developer'}/
    %meta{content: 'deutsch, de', 'http-equiv' => 'language'}/
    %meta{content: 'index,follow', name: 'robots'}/
    %meta{content: '7 days', name: 'revisit-after'}/
    %meta{content: 'einfachMING . Büro für Kommunikation, Zürich', name: 'description'}/
    %meta{content: 'Public Relations,Kommunikation,Interne Kommunikation,Medienarbeit,Öffentlichkeitsarbeit,Kommunikationsberatung,Ghostwriting,Veranstaltung von Pressekonferenzen,Beratung und Kommunikation', name: 'keywords'}/

    = stylesheet_link_tag 'application'

    /[if lt IE 9]
      <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>

    %link{href: '/favicon.ico', rel: 'icon', type: 'image/ico'}/
    %link{href: '/favicon.ico', rel: 'shortcut icon'}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28631081-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    = yield

    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.0/modernizr.min.js'}
    = javascript_include_tag 'application'
