@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 4, ../../src/sass/einfachming.scss */
  #top, #bottom, #left, #right {
    display: none;
  }
}
/* line 9, ../../src/sass/einfachming.scss */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* line 15, ../../src/sass/einfachming.scss */
#top, #bottom, #left, #right {
  background: #fff;
  position: fixed;
}

/* line 20, ../../src/sass/einfachming.scss */
#left, #right {
  top: 0;
  bottom: 0;
  width: 10px;
}

/* line 26, ../../src/sass/einfachming.scss */
#left {
  left: 0;
}

/* line 27, ../../src/sass/einfachming.scss */
#right {
  right: 0;
}

/* line 29, ../../src/sass/einfachming.scss */
#top, #bottom {
  left: 0;
  right: 0;
  height: 10px;
}

/* line 34, ../../src/sass/einfachming.scss */
#top {
  top: 0;
}

/* line 35, ../../src/sass/einfachming.scss */
#bottom {
  bottom: 0;
}

/* line 37, ../../src/sass/einfachming.scss */
body {
  margin: 0;
  padding: 0;
  background: white url(/einfachming/images/background.jpg);
  background-size: contain;
}

/* line 45, ../../src/sass/einfachming.scss */
header {
  margin-top: 45px;
  margin-bottom: 25px;
}
/* line 49, ../../src/sass/einfachming.scss */
header ul {
  list-style-type: none;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
header ul, header ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 52, ../../src/sass/einfachming.scss */
header ul li {
  margin: 0;
  padding-left: 8px;
  padding-right: 1px;
  color: #fff;
  font-family: Times, serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  border-right: 1px solid #fff;
}
/* line 68, ../../src/sass/einfachming.scss */
header ul li:first-child {
  padding-left: 0;
}
/* line 72, ../../src/sass/einfachming.scss */
header ul li:last-child {
  border-right: none;
}
/* line 76, ../../src/sass/einfachming.scss */
header ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 81, ../../src/sass/einfachming.scss */
header ul li a:hover {
  color: #ef374e;
}
/* line 86, ../../src/sass/einfachming.scss */
header ul li span {
  font-style: italic;
}

/* line 94, ../../src/sass/einfachming.scss */
#content h1:first-child {
  margin-top: 50px;
  margin-bottom: 70px;
  color: #fff;
  font-family: Times, serif;
  font-size: 32px;
  font-weight: lighter;
  line-height: 28px;
  letter-spacing: 1px;
}
/* line 107, ../../src/sass/einfachming.scss */
#content h1:first-child span {
  color: #ef374e;
  font-style: italic;
}
/* line 113, ../../src/sass/einfachming.scss */
#content .news {
  margin-top: 50px;
}
/* line 116, ../../src/sass/einfachming.scss */
#content .news h2 {
  margin-bottom: 28px;
  color: #fff;
  font-family: Times, serif;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1px;
}
/* line 128, ../../src/sass/einfachming.scss */
#content .news p.time {
  margin-bottom: -5px;
  color: #fff;
  font-family: Calibri, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 140, ../../src/sass/einfachming.scss */
#content .news p {
  color: #000;
  font-family: Calibri, Verdana, sans-serif;
  font-size: 14px;
}

/* line 149, ../../src/sass/einfachming.scss */
#sidebar {
  text-align: center;
}
/* line 152, ../../src/sass/einfachming.scss */
#sidebar img {
  margin-bottom: 40px;
}
/* line 157, ../../src/sass/einfachming.scss */
#sidebar .news h3 {
  margin-bottom: 28px;
  color: #fff;
  font-family: Times, serif;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1px;
}
/* line 169, ../../src/sass/einfachming.scss */
#sidebar .news p.time {
  margin-bottom: -5px;
  color: #000;
  font-family: Calibri, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 181, ../../src/sass/einfachming.scss */
#sidebar .news p {
  color: #000;
  font-family: Calibri, Verdana, sans-serif;
  font-size: 14px;
}

/* line 190, ../../src/sass/einfachming.scss */
#einfachming {
  display: none;
  width: 180px;
  height: 210px;
}
/* line 196, ../../src/sass/einfachming.scss */
#einfachming img {
  border: 0;
}

/* line 201, ../../src/sass/einfachming.scss */
#definition {
  display: none;
  min-width: 300px;
  max-width: 700px;
  color: #fff;
  font-family: Times, serif;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
}
/* line 216, ../../src/sass/einfachming.scss */
#definition .italics {
  font-style: italic;
}
/* line 220, ../../src/sass/einfachming.scss */
#definition .mark {
  color: #ef374e;
}
