---
layout: 'default'
---
%h1
  %span> Dienstleistung
  , Dienst·leis·tung,
  %em -die, -en,
  ist nicht lagerbar, selten übertragbar und ist eine für
  einen Kunden erbrachte Leistung.

%p
  Unternehmen, die auf eine einfache, ehrliche, zeitnahe und offene Kommunikation
  setzen, sind bei uns richtig.
%h2
  einfachming . Büro für Kommunikation bietet:
%ul
  %li
    strategische Kommunikationsberatung, Krisenkommunikation
  %li
    ad hoc Unterstützung in den Bereichen interne und externe Kommunikation,
    Medienarbeit, Story Placement
  %li
    Verfassen und Versand von Medienmitteilungen
  %li
    Organisation und Durchführung von Pressekonferenzen / Medienevents
  %li
    Erstellung von Basis-Presseunterlagen (z.B. Pressemappe)
  %li
    Unterstützung bei der Konzeption des Medienbereiches im Internet
  %li
    Leistungen im Bereich Produkt-PR, Presseversände
  %li
    Sparring-Partner, externe Pressestelle, Pressesprecher-Funktion.
