---
layout: 'default'
---
%h1
  %span> Kunde
  , Kun·de,
  = succeed ',' do
    %em der; -n
  jemand, der in einem Geschäft (ein)kauft od. bestimmte Dienstleistungen in Anspruch nimmt.

%p
  Unsere Kunden sind uns wichtige Partner, werden meist über die Zeit Freunde
  und sind wertvolle Richtschnur für die Ausrichtung und Weiterentwicklung
  unserer Arbeit.
%p
  Die besten und nachhaltigsten Ergebnisse erzielen wir durch eine effiziente,
  fruchtbare und partnerschaftliche Zusammenarbeit, einen professionellen
  Austausch und die optimale Nutzung von Know-how und Netzwerk beider Seiten.
%p
  = link_to 'Kundenkreis', 'kunden/kundenkreis.html'
