---
layout: 'default'
---
%h1
  %span> Kontakt
  , Kon•tạkt,
  = succeed ',' do
    %em der; -(e)s, -e
  %strong 1.
  durch Gespräche und Treffen aufrecht erhaltene Verbindung,
  %strong 2.
  %em (seltener)
  Berührung,
  %strong 3.
  der Austausch von Informationen.

%iframe{frameborder: '0', height: '350', marginheight: '0', marginwidth: '0', scrolling: 'no', src: 'http://maps.google.ch/maps/ms?msa=0&msid=205576324668420646912.0004b53be3838500fe7f3&ie=UTF8&t=h&vpsrc=1&ll=47.396,8.536016&spn=0,0&output=embed', width: '580'}
%h2
  Anreise
%p
  Mit den ÖV: Haltestelle «Laubiweg» oder «Bucheggplatz»  (Tram Nr. 11,
  15)
  %br/
  %a{href: 'http://www.vbz.ch'} Zum VBZ Fahrplan
