---
layout: 'default'
---
%h1
  %span> Sieben
  ,
  = succeed ',' do
    %em -die
  natürliche Zahl zwischen Sechs und Acht, ungerade,
  eine Primzahl.

%p
  Die sieben Weltwunder, die Quersumme meines Geburtsdatums, die sieben
  Tage einer Woche und die Erschaffung der Welt in sieben Tagen, die Minute
  meiner Geburt, sieben Töne bis zum Übergang zur nächsten Oktave, die Parkplatznummer
  meines Mietautos auf Mallorca, die sieben Farben des Regenbogens, meine
  liebste Zahl.
%p
  Die Sieben ist die Addition von drei und vier, von Geist und Seele einerseits
  und Körper andererseits. Experimente der Verhaltensforschung haben gezeigt:
  Die häufigste Antwort auf die Frage nach der Lieblingszahl oder auf die
  Frage nach einer beliebigen Zahl zwischen Eins und Neun ist Sieben.
