---
layout: 'default'
---
%h1
  %span> Willkommen
  ,
  = succeed ',' do
    %em -das
  Will·kọm·men
  %em (kein Plur.),
  %strong 1.
  freundliche Begrüssung,
  %strong 2.
  erwünscht, angenehm,
  %strong 3.
  gern gesehen.

%p
  Unternehmen und Organisationen, die auf eine einfache, ehrliche, zeitnahe
  und offene Kommunikation setzen, sind bei uns richtig.
%p
  einfachming . Büro für Kommunikation bietet vielfältige Kommunikationsleistungen
  und professionelle Medienarbeit – in enger Zusammenarbeit mit dem Kunden,
  für den wir je nach Auftrag als Sparring Partner, externe Agentur, Entlastung,
  Zweitmeinung, ausführende Kommunikatoren, Vertraute und Beratende tätig
  sind. Und dies mit Herzblut und einem hohen Anspruch an Professionalität.
  Medien erhalten von uns hochwertige Informationen und Auskünfte über
  das Unternehmen, die Organisation und deren Produkte oder Dienstleistungen.
%p
  Wir sind überzeugt, dass nur durch das Miteinander von Kunde, Medienseite
  und Agentur im Sinne einer gegenseitigen Befruchtung wirklich hervorragende
  Kommunikationsergebnisse entstehen.
