---
layout: 'default'
---
%h1
  %span> Anne Britt Tobler
  ,
  = succeed ',' do
    %em die
  Jg. 1977, aus Marl (D), ein Kind, lebt in Zürich.


%img{alt: 'Anne Britt Tobler', height: '266', src: '/images/portrait/Anne_Britt_Tobler.jpg', width: '580'}/
%h2
  Berufliche Stationen
%ul
  %li
    Dipl.-Kauffrau
    %a{href: 'http://www.uni-bamberg.de/'} Universität Bamberg
    (D) und
    %a{href: 'http://www.ucm.es/'} Universidad Complutense de Madrid
    (E). Diplomstudiengang der internationalen
    Betriebswirtschaftslehre
  %li
    Product Manager und Group Product Manager für Maybelline Jade und Garnier,
    %a{href: 'http://www.loreal.de/_de/_de/index.aspx'} L‘Oréal Deutschland
    in Düsseldorf (D)
  %li
    Marketingleiterin für
    = succeed ',' do
      %a{href: 'http://www.vichyconsult.ch/'} Vichy
  %li
    Seit April 2012 als Beraterin für Kommunikations- und Medienarbeit bei
    %a{href: '../index.html'}
      %em> einfach
      ming . Büro für Kommunikation
    tätig

= link_to 'Zurück zu den Portraits', '/portrait.html', class: 'profile_return'

